!!!
%html
  %head
    %meta{charset:'UTF-8'}
    %link{rel:"stylesheet", href:"css/screen.css", type:"text/css"}
  %body
    %header
      %a{:href => "index.html"}
        %h1.stripe Let's say the alphabet!
    %main.main
      %section.center
        %h1.announce Start!
    %script{src:"js/uppercase.js"}
