!!!
%html
  %head
    %meta{charset:'UTF-8'}
    %link(rel="stylesheet" href="css/screen.css" type="text/css")
  %body
    %header
      %a{:href => "index.html"}
        %h1.stripe Let's play a game!
    %main
      %section
        %a{:href => "mathGame/index.html"}
          %button.games Math Game
      %section.right
    -# %script{src:"js/games.js"}