!!!
%html
  %head
    %meta{charset:'UTF-8'}
    %link(rel="stylesheet" href="css/screen.css" type="text/css")
  %body
    %header
      %h1.stripe.date
    %main
      %section.left
        %a.left{href:'start5.html'}
          %button.start Start 5
        %a.right{href:'start6.html'}
          %button.start Start 6
        %a.left{href:'finish.html'}
          %button.finish Finish
        %a.right{href:'timer.html'}
          %button.timer Timer
      %section.right
        %a{href:'review.html'}
          %button.review Let's review!
        %a{href:'games.html'}
          %button.games Let's play a game!
  %script{src:"js/main.js"}