!!!
%html
  %head
    %meta{charset:'UTF-8'}
    %link{rel:"stylesheet", href:"css/screen.css", type:"text/css"}
    %script{src:"js/jquery.min.js"}
  %body
    %header
      %a{:href => "index.html"}
        %h1.stripe Let's say the months!
    %main
      %section.center
        %h1.announce.months Let's go!
    %script{src:"js/months.js"}