!!!
%html
  %head
    %meta{charset:'UTF-8'}
    %link{rel:"stylesheet", href:"css/screen.css", type:"text/css"}
  %body
    %header
      %a{:href => "index.html"}
        %h1.stripe Let's count to 20!
    %main
      %section.center
        %h1.announce Let's go!
    %script{src:"js/num20.js"}