!!!
%html
  %head
    %meta{charset:'UTF-8'}
    %link{rel:"stylesheet", href:"css/screen.css", type:"text/css"}
  %body
    %header
      %a{:href => "index.html"}
        %h1.stripe.date
    %main
      %section.center
        %h1.announce Stand up!
    %script{src:"js/start5.js"}